<span class="Issue-filters filters" style="display: <%= params[:klass] == 'Issue' ? 'initial' : 'none' %>;">
<wbr>
  <%= select_tag :tracker_id, options_from_collection_for_select(Tracker.select('id, name'), "id", "name", params[:tracker_id]), id: 'select2tracker', class: "js-select2 filter Issue-filter js-submit-form", multiple: true, 'data-placeholder'=> l('filter_by.tracker') %>

<wbr>
  <%= select_tag :assigned_to_id, options_from_collection_for_select(User.all, "id", "name", params[:assigned_to_id]), id: 'select2users', class: "js-select2 filter Issue-filter js-submit-form", multiple: true, 'data-placeholder'=> l('filter_by.user') %>

<wbr>
  <%= select_tag :priority_id, options_from_collection_for_select(IssuePriority.select('id, name'), "id", "name", params[:priority_id]), id: 'select2priority', class: "js-select2 filter Issue-filter js-submit-form", multiple: true, 'data-placeholder'=> l('filter_by.priority') %>

<wbr>
  <%= select_tag :status_id, options_from_collection_for_select(IssueStatus.select('id, name'), "id", "name", params[:status_id]), id: 'select2status', class: "js-select2 filter Issue-filter js-submit-form", multiple: true, 'data-placeholder'=> l('filter_by.status') %>

  <% if session[:allowed_to_private] %>
    <wbr>
    <%= select_tag :is_private, options_for_select(issue_privacy_option, params[:is_private]), class: 'js-select2-no-search selectsFields filter Issue-filter js-submit-form' %>
  <% end %>
</span>
