<tr id="issue-<%= issue.id %>">
  <td class="id"><%= issue.id %></td>
  <td class="subject"><%= link_to issue.subject, issue_path(issue.id) %></td>
  <td class="tracker"><%= issue.tracker %></td>
  <td class="priority"><%= issue.priority %></td>
  <td class="project"><%= link_to issue.project, project_path(issue.project_id) %></td>
</tr>
<% unless issue.description.blank? %>
  <tr>
    <td class="project" colspan="5"><%= issue.description.truncate(60) %></td>
  </tr>
<% end %>
