<h3><%= l(:label_search)%></h3>

<div class="box">
  <%= form_tag('/searching/esearch', :method => :get, :id => 'esearch-form', remote: true) do %>
    <p id="search-content">
      <%= text_field_tag 'esearch', params[:esearch], size: 60 %>
      <%= hidden_field_tag 'klass', "Issue" %>
      <%= hidden_field_tag 'period', '' %>
      <%= hidden_field_tag 'from', '' %>
      <%= hidden_field_tag 'to', '' %>
      <%= submit_tag l(:label_search), id: 'searching-btn' %>
      <%= link_to l(:label_cleanup), searching_cleanup_path %>
      <br/>
    </p>
  <% end %>
  <div class='filters'>
    <%= render partial: "tabs" %>
  </div>
</div>

<table class="list issues">
  <tbody class="tbody_entries">
    <% if @results %>
      <%= render partial: 'esearch' %>
    <% end %>
    <!-- render -->
  </tbody>
</table>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'redminesearch.css', :plugin => 'redmine_search', :media => 'all' %>
  <%= stylesheet_link_tag 'select2.min.css',   :plugin => 'redmine_search', :media => 'all' %>
  <%= javascript_include_tag 'redminesearch',  :plugin => 'redmine_search' %>
  <%= javascript_include_tag 'select2.min.js', :plugin => 'redmine_search' %>
<% end %>
