<h3><%= l(:label_search)%></h3>

<div class="box">
  <%= form_tag('/searching/esearch', :method => :get, :id => 'esearch-form', remote: true) do %>
    <p id="search-content">
      <%= text_field_tag 'esearch', '', size: 60 %>
      <%= hidden_field_tag 'klass', "Issue" %>
      <%= submit_tag l(:label_search), id:'searching-btn' %>
      <br/>
    </p>
  <% end %>

  <div class='filters'>
    <%= link_to l(:filter_issues), {controller: 'searching', action: 'esearch', klass: "Issue"}, :id => "issue-filter", method: :get, remote: true %> |
    <%= link_to l(:filter_projects), {controller: 'searching', action: 'esearch', klass: "Project"}, :id => "project-filter", method: :get, remote: true %>
  </div>
</div>

<table class="list issues">
  <tbody class="tbody_entries">
    <!-- render -->
  </tbody>
</table>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'redminesearch.css', :plugin => 'redmine_search', :media => 'all' %>
  <%= stylesheet_link_tag 'select2.min.css', :plugin => 'redmine_search', :media => 'all' %>
  <%= javascript_include_tag 'redminesearch', :plugin => 'redmine_search' %>
  <%= javascript_include_tag 'select2.min.js', :plugin => 'redmine_search' %>

<% end %>
